<div *ngIf="allPotlucks.length > 0">
    <mat-card *ngFor="let potluck of allPotlucks">
        <mat-card-header>
            <mat-card-title>
                {{potluck.theme}}
            </mat-card-title>
            <mat-card-subtitle>
                {{potluck.startDate}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="mat-body-1">{{potluck.description}}</p>
        </mat-card-content>
        <mat-action-row align="end">
            <mat-divider></mat-divider>
            <!-- <button mat-button color="primary">RSVP</button> -->
            <button mat-button [matMenuTriggerFor]="rsvpMenu" color="primary">
                <mat-icon>{{rsvpIcon}}</mat-icon>
                RSVP
            </button>
            <mat-menu #rsvpMenu="matMenu">
                <button mat-menu-item (click)="onAttending()">Attending</button>
                <button mat-menu-item (click)="onNotAttending()">Not Attending</button>
            </mat-menu>
            <button mat-button color="accent">Edit</button>
        </mat-action-row>
    </mat-card>
</div>
<p class="info-text mat-body-1" *ngIf="allPotlucks.length == 0"> No potlucks added yet</p>