<ng-container *ngIf="{
        currentUser: currentUser$ | async,
        allUsers: allUsers$ | async
      } as data">
    <mat-card>
        <mat-card-header>
            <mat-card-title>User</mat-card-title>
        </mat-card-header>

        <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">

            <mat-card-content>
                <h4>Name:</h4>
                <mat-form-field>
                    <mat-label for="first-name">First Name</mat-label>
                    <input id="first-name" matInput placeholder="First Name" formControlName="firstName">
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="last-name">Last Name</mat-label>
                    <input id="last-name" matInput placeholder="Last Name" formControlName="lastName">
                </mat-form-field>

                <!-- <ng-container *ngIf="data.currentUser.permissions.isAdmin == true"> -->
                    <h4>Permissions:</h4>
                    <section formGroupName="permissions">
                        <p><mat-checkbox formControlName="canHost">Can host events?</mat-checkbox></p>
                        <p><mat-checkbox formControlName="isAdmin">Is admin?</mat-checkbox></p>
                        <mat-form-field>
                            <mat-label>Can RSVP for</mat-label>
                            <mat-select formControlName="canRSVPFor">
                                <mat-option value={{id}}>(just themselves)</mat-option>
                                <mat-option *ngFor="let user of data.allUsers" value={{user._id}} [disabled]="user._id === id">
                                    {{user.firstName + " " + user.lastName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </section>
                <!-- </ng-container> -->

                <h4>Login:</h4>
                <mat-form-field>
                    <mat-label for="email">Email Address</mat-label>
                    <input id="email" matInput placeholder="wiley@coyote.com" formControlName="email" type="emial">
                </mat-form-field>
                <!-- <mat-form-field>
                    <mat-label for="password">{{passwordLabel}}</mat-label>
                    <input id="password" matInput formControlName="password" type="password">
                </mat-form-field>
                <ng-container *ngIf="initialUser._id != '0'">
                    <mat-form-field>
                        <mat-label for="newPassword">New Password</mat-label>
                        <input id="newPassword" matInput formControlName="newPassword" type="password">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="newPassword2">Confirm New Password</mat-label>
                        <input id="newPassword2" matInput formControlName="newPassword2" type="password">
                    </mat-form-field>
                </ng-container> -->
            </mat-card-content>

            <mat-divider></mat-divider>

            <mat-card-actions align="end">
                <button mat-raised-button color="primary" type="submit" [disabled]="userProfileForm.invalid">
                    Submit
                </button>

                <button mat-raised-button color="warn" type="reset">
                    Delete
                </button>
            </mat-card-actions>
        </form>
    </mat-card>
</ng-container>

<pre>{{ userProfileForm.value | json}}</pre>