<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="mainMenu" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #mainMenu="matMenu">
    <button mat-menu-item routerLink="/potlucks">Potlucks</button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/potlucks/new">New Potluck</button>
    <button mat-menu-item routerLink="/users">Manage Users</button>
  </mat-menu>
  <a mat-button routerLink="/">KRATE.EVENTS</a>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with share icon" routerLink="login">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>