<mat-toolbar color="primary">
  <button *ngIf="isAuthenticated" mat-icon-button [matMenuTriggerFor]="mainMenu" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #mainMenu="matMenu">
    <button mat-menu-item routerLink="/potlucks">Potlucks</button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/potlucks/new">New Potluck</button>
    <button mat-menu-item routerLink="/users">Manage Users</button>
  </mat-menu>
  <a mat-button [routerLink]="isAuthenticated ? 'potlucks' : '/' ">KRATE.EVENTS</a>
  <span class="example-spacer"></span>
  <a mat-button routerLink="/login" *ngIf="!isAuthenticated">Login</a>
  <button mat-button (click)="onLogout()" *ngIf="isAuthenticated">Logout</button>
</mat-toolbar>