<mat-toolbar color="primary">
  <button *ngIf="isAuthenticated" mat-icon-button [matMenuTriggerFor]="mainMenu"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #mainMenu="matMenu">
    <button mat-menu-item routerLink="/potlucks">Potlucks</button>
    <ng-container *ngIf="user.permissions">
      <mat-divider *ngIf="user.permissions.canHost || user.permissions.isAdmin"></mat-divider>
      <button *ngIf="user.permissions.canHost" mat-menu-item routerLink="/potlucks/new">New Potluck</button>
      <button *ngIf="user.permissions.isAdmin" mat-menu-item routerLink="/users">Manage Users</button>
    </ng-container>
  </mat-menu>
  <span *ngIf="user.firstName != ''">Hello, {{user.firstName}}</span>
  <!-- <a mat-button [routerLink]="isAuthenticated ? 'potlucks' : '/' ">KRATE.EVENTS</a> -->
  <span class="example-spacer"></span>
  <a mat-button routerLink="/login" *ngIf="!isAuthenticated">Login</a>
  <button mat-button (click)="onLogout()" *ngIf="isAuthenticated">Logout</button>
</mat-toolbar>