<mat-card *ngIf="vm$ | async as vm">
    <mat-card-header>
        <mat-card-title class="mat-h1">
            Potluck: {{vm.potluck.details.theme}}
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <h2 class="mat-h2">Details</h2>
        <div mat-subheader>Theme: {{vm.potluck.details.description}}</div>
        <div mat-subheader>Location: {{vm.potluck.address}}</div>
        <div mat-subheader>Date: {{vm.potluck.dateAndTime.startDate | date: 'longDate'}}</div>
        <div mat-subheader>Time: {{vm.potluck.dateAndTime.startTime}}</div>

        <mat-divider></mat-divider>

        <h2 class="mat-h2">Responses</h2>
        <app-potluck-rsvp-list [rsvps]="vm.confirmed" [showBadge]=true [title]="'Confirmed'"></app-potluck-rsvp-list>
        <app-potluck-rsvp-list [rsvps]="vm.pending" [showBadge]=true [title]="'Pending'"></app-potluck-rsvp-list>
        <app-potluck-rsvp-list [rsvps]="vm.declined" [showBadge]=true [title]="'Declined'"></app-potluck-rsvp-list>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <button mat-button color="primary" (click)="onRSVP(vm.potluck._id)">RSVP</button>
        <ng-container *ngIf="vm.user.permissions.isAdmin">
            <a mat-button color="primary" [routerLink]="['/potlucks/edit', vm.potluck._id]">Edit</a>
            <button mat-button color="warn" (click)="onDelete(vm.potluck._id)">Delete</button>
        </ng-container>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>