<mat-card *ngIf="vm$ | async as vm">
    <mat-card-header>
        <mat-card-title>
            {{vm.potluck.details.theme}}
        </mat-card-title>
        <span class="spacer"></span>
        <ng-container *ngIf="vm.user.permissions.isAdmin">
            <button mat-icon-button [routerLink]="['/potlucks/edit', vm.potluck._id]">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="onDelete(vm.potluck._id)">
                <mat-icon>delete</mat-icon>
            </button>
        </ng-container>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
        <div mat-subheader>Theme: {{vm.potluck.details.description}}</div>
        <div mat-subheader>Location: {{vm.potluck.address}}</div>
        <div mat-subheader>Date: {{vm.potluck.dateAndTime.startDate | date: 'longDate'}}</div>
        <div mat-subheader>Time: {{vm.potluck.dateAndTime.startTime}}</div>

        <mat-divider></mat-divider>
        <mat-card-actions>
            <button class="action-button" mat-flat-button (click)="onRSVP(vm.potluck._id)">
                <mat-icon>check_circle</mat-icon>
                RSVP
            </button>
            <ng-container *ngIf="vm.user.permissions.isAdmin">
                <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{hostsEmailList}}&bcc={{emailList}}&su={{vm.potluck.dateAndTime.startDate | date: 'MMMM'}}%20Potluck%20Reminder:%20{{vm.potluck.details.theme}}&body={{body}}" target="_blank" class="action-button" mat-stroked-button
                    [disabled]="vm.confirmed.length + vm.pending.length == 0">
                    <mat-icon>email</mat-icon>
                    Reminder Email
                </a>
            </ng-container>
        </mat-card-actions>
        <mat-divider></mat-divider>

        <app-potluck-rsvp-list [potluckId]="vm.potluck._id" [rsvps]="vm.confirmed" [showBadge]=true
            [title]="'Confirmed'"></app-potluck-rsvp-list>
        <app-potluck-rsvp-list [potluckId]="vm.potluck._id" [rsvps]="vm.pending" [showBadge]=true
            [title]="'Pending'"></app-potluck-rsvp-list>
        <app-potluck-rsvp-list [potluckId]="vm.potluck._id" [rsvps]="vm.declined" [showBadge]=true
            [title]="'Declined'"></app-potluck-rsvp-list>
    </mat-card-content>

    <mat-card-footer>
        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>