<mat-card *ngIf="vm$ | async as vm">
    <mat-card-header>
        <mat-card-subtitle>
            <!-- {{vm.potluck.dateAndTime.startDate}} -->
        </mat-card-subtitle>
        <mat-card-title class="mat-h1">
            {{vm.potluck.details.theme}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p class="mat-body-1">
            {{vm.potluck.details.description}}
            <mat-divider></mat-divider>
        </p>
        <p>Created by: {{vm.potluck.createdByAsUser.firstName}} {{vm.potluck.createdByAsUser.lastName}}</p>
        <p>Hosted by: </p>
        <ul>
            <li *ngFor="let host of vm.potluck.hostsAsUsers">{{host.firstName}}</li>
        </ul>
        <h2 class="mat-h2">Responses</h2>
        <app-potluck-rsvp-list [rsvps]="vm.confirmed" [showBadge]=true [title]="'Confirmed'"></app-potluck-rsvp-list>
        <app-potluck-rsvp-list [rsvps]="vm.pending" [showBadge]=true [title]="'Pending'"></app-potluck-rsvp-list>
        <app-potluck-rsvp-list [rsvps]="vm.declined" [showBadge]=true [title]="'Declined'"></app-potluck-rsvp-list>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button color="primary" [routerLink]="['/potlucks/edit', vm.potluck._id]">Edit</a>
        <button mat-button color="warn" (click)="onDelete(vm.potluck._id)">Delete</button>
    </mat-card-actions>
</mat-card>