mat-card {
  max-width: 800px;
  margin: 1rem auto;
}

.krate-confirmed-label {
  width: fit-content;
  padding-right: 1rem;
}

mat-card-header {
  display: flex;
  flex-direction: row;
}

.spacer {
  flex: 1 1 auto;
}

.action-button {
  margin: 4px;
}