<mat-card>
    <form [formGroup]="potluckForm" (submit)="onSubmitPotluck()">
        <mat-card-content>
            <div formGroupName="dateAndTime">
                <mat-card-subtitle>Start Date & Time</mat-card-subtitle>
                <p>
                    <mat-form-field>
                        <mat-label>Start date</mat-label>
                        <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
                        <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Start time</mat-label>
                        <input matInput [ngxTimepicker]="startTimePicker" formControlName="startTime">
                        <ngx-material-timepicker #startTimePicker></ngx-material-timepicker>
                    </mat-form-field>
                </p>
            </div>

            <mat-card-subtitle>Location</mat-card-subtitle>
            <p>
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput type="text" name="address" formControlName="location">
                </mat-form-field>
            </p>

            <div formGroupName="details">
                <mat-card-subtitle>Potluck Details</mat-card-subtitle>
                <p>
                    <mat-form-field>
                        <mat-label>Theme</mat-label>
                        <input matInput type="text" formControlName="theme">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                    </mat-form-field>
                </p>
            </div>

            <mat-card-subtitle>Who's hosting?
                <button type='button' mat-button color="primary" (click)="selectAllHosting()">
                    select all
                </button>
                <button type='button' mat-button color="primary" (click)="selectNoneHosting()">
                    select none
                </button>
            </mat-card-subtitle>
            <section class="hosts-list">
                <ng-container *ngFor="let user of usersCanHost; let i = index" formArrayName="hosts">
                    <p><mat-checkbox formControlName={{i}}>
                            {{user.firstName}} {{user.lastName}}
                        </mat-checkbox></p>
                </ng-container>
            </section>

            
            <mat-card-subtitle>Who's invited?
                <button type='button' mat-button color="primary" (click)="selectAllInvited()">
                    select all
                </button>
                <button type='button' mat-button color="primary" (click)="selectNoneInvited()">
                    select none
                </button>
            </mat-card-subtitle>

            <section class="invite-list">
                <ng-container *ngFor="let user of users; let i = index" formArrayName="invited">
                    <p><mat-checkbox formControlName={{i}}>
                            {{user.firstName}} {{user.lastName}}
                        </mat-checkbox></p>
                </ng-container>
            </section>

        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions align="end">
            <span>Total Invited: {{numInvited}}</span>
            <button mat-raised-button color="primary" type="submit" [disabled]="potluckForm.invalid">
                Submit
            </button>

            <button mat-raised-button color="warn" type="reset">
                Reset
            </button>
        </mat-card-actions>
    </form>
</mat-card>

<!-- <pre>{{initialPotluck.invited | json}}</pre> -->