mat-card {
  width: 60%;
  max-width: 800px;
  margin: 1rem auto;
}

mat-form-field,
textarea,
input {
  width: 100%;
}

button {
  margin: 0 0.5rem;
}

.invite-list {
  margin: 12px auto;
  overflow: auto;
  height: 10rem;
  display: flex;
  flex-direction: column;
}
